<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyc.mealoperation.mapper.CommentMapper">
    <resultMap type="com.xyc.mealoperation.entity.meal.Comment" id="CommentforcomResultMap">
        <id column="OBJECT_ID" property="objectId" />
        <result column="SENDER_ID" property="senderId"/>
        <result column="RECIP_ID" property="recipId"/>
        <result column="TYPE" property="type"/>
        <result column="STATUS" property="status"/>
        <result column="CONTENT" property="content"/>
        <result column="DY_ID" property="dyId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <collection property="commentforcomList" ofType="com.xyc.mealoperation.entity.meal.Commentforcom">
            <id column="OBJECT_ID" property="objectId" />
            <result column="SENDER_ID" property="senderId"/>
            <result column="RECIP_ID" property="recipId"/>
            <result column="TYPE" property="type"/>
            <result column="STATUS" property="status"/>
            <result column="CONTENT" property="content"/>
            <result column="RELATION_ID" property="relationId"/>
            <result column="CREATE_TIME" property="createTime"/>
            <result column="COMMENT_ID" property="commentId"/>
        </collection>
    </resultMap>
    <select id="findByDyId" parameterType="java.lang.Integer" resultMap="CommentforcomResultMap">
        select * from comment a
        left join commentforcom b on a.OBJECT_ID = b.COMMENT_ID
        where a.DY_ID = #{dyId}
    </select>
</mapper>